<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bundles/css/animate.css')}}">
            <!-- Icomoon Icon Fonts-->
            <link rel="stylesheet" href="{{asset('css/icomoon.css')}}">
            <!-- Bootstrap  -->
            <link rel="stylesheet" href="{{asset('bundles/css/bootstrap.css')}}">
            <!-- Magnific Popup -->
            <link rel="stylesheet" href="{{asset('bundles/css/magnific-popup.css')}}">
            <!-- Owl Carousel  -->
            <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
            <!-- Theme style  -->
            <link rel="stylesheet" href="{{asset('bundles/css/style.css')}}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
 <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{asset('bundles/images/img_bg_1.jpg')}});">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>⁠⁠⁠SSC</h1>
                            <h2>Sistema de Control Escolar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="gtco-logo"><a href="index.html">⁠⁠⁠SSC</a></div>
                </div>
                <div class="col-xs-8 text-center menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="has-dropdown">
                            <a href="services.html">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Tools</a>
                            <ul class="dropdown">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">Sass</a></li>
                                <li><a href="#">jQuery</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-2 text-right hidden-xs menu-2">
                    <ul>
                        <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
       
    
</head>

        {% block body %}{% endblock %}
<body>

    <footer  role="contentinfo" id="gtco-features-2">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-4 gtco-widget">
                    <h3>The Company</h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <p><a href="#">Learn More</a></p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Meetups</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Handbook</a></li>
                        <li><a href="#">Held Desk</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Find Designers</a></li>
                        <li><a href="#">Find Deelopers</a></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>
            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2017  All Rights Reserved.</small> 
                        <small class="block">Designed by Carlitos.inc</small>
                    </p>
                    <p class="pull-right">
                        <ul class="gtco-social-icons pull-right">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>

        {% block javascripts %}

            <script src="{{asset('bundles/js/jquery.min.js')}}"></script>
            <!-- jQuery Easing -->
            <script src="{{asset('bundles/js/jquery.easing.1.3.js')}}"></script>
            <!-- Bootstrap -->
            <script src="{{asset('bundles/js/bootstrap.min.js')}}"></script>
            <!-- Waypoints -->
            <script src="{{asset('bundles/js/jquery.waypoints.min.js')}}"></script>
            <!-- Carousel -->
            <script src="{{asset('bundles/js/owl.carousel.min.js')}}"></script>
            <!-- countTo -->
            <script src="{{asset('bundles/js/jquery.countTo.js')}}"></script>
            <!-- Magnific Popup -->
            <script src="{{asset('bundles/js/jquery.magnific-popup.min.js')}}"></script>
            <script src="{{asset('bundles/js/magnific-popup-options.js')}}"></script>
            <!-- Main -->
            <script src="{{asset('bundles/js/main.js')}}"></script>
        {% endblock %}
    </body>
</html>
